#choiceBoxContainer {
  border: 1px solid black;
  max-width: 500px;
  min-height: 200px;
  margin: 20% auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.choice {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  transition: all 0.2s ease;
}
.choice:hover {
  cursor: pointer;
  background-color: aqua;
}
